
/* Komt op alle pagina's */
body { 
    background-color:#ffffff;    
    margin: 0px;
    padding: 0px;
}


a { 
    color: #ffc100;
    text-decoration: none;
    border: solid;
    font-size: 1em;
    border-radius: 2em;
    padding: .5em;
}


a:hover { 
    color: #110075;
}



/* 1ste pagina */
.fAlogo {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    translate: 0px 125px;
    border-radius: 4em;
    margin-top: -125px;
    
}


.logoimage { 
    position: relative;
    top: -50em;
    left: 40em;
    margin-bottom: -80em;
} 


/* 1ste pagina Knop opiniestuk */


.opinieknop>a { 
    position:relative; 
    top: 2sem;
    left: 70em;
}



.opinieknop:hover>a { 
     color: #BFFFFC;
}



.imgg { 
    position: relative;
    top: -34em;
    right: 6em;
}



.imgg2 { 
    position: relative;
    top: -63em;
    left: 35em;
}



/* Tekst van 1ste pagina */

.FA {
    font-size: 6em;
    display: flex;
    align-items: center;
    padding-left: 2em;
    width: 100vw;
    height: 100vh;
    background-color: #110075;
}



.faa2 { 
    padding-left: 2em;
}



.contain {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: -80em;
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 3em;
    background-color: #ffffff;
}



.button1 { 
    width: 250px;
    height: 50px;
    border-radius: 2em;
    align-items: center;
    background-color: #ffffff;
    border-style: none;
    margin-left: 20em; 
}



.Welkom {
    font-size: 2em;
    align-items: center;
}



h1, h2{
    color: #ffc100;
}



/* 2e pagina */


.iInfo { 
    padding: 1em;
}

.info { 
    align-items: center;
    font-size: 2em;
    background-color: #110075;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 5em;
    padding-left: 1em;
}



.girl2 { 
    translate: 35em -20em;
}



summary { 
    color:#ffc100;
}



.button2 { 
    width: 250px;
    height: 50px;
    border-radius: 2em;
    align-items: center;
    border-style: none;
}



/* 3e pagina foto style */


.fFoto { 
    padding: 1em;
}



#contekst { 
    align-items: center;
    background-color: #110075;
    margin-left: -1em;
}



.tekst { 
    font-size: 2em;
    padding-left: 1em;
    align-content: center;
    color: #ffc100;
    height: 100px;
}



#foto { 
    filter: blur(20px);
    padding-top: 5em;
    padding-left: 1em;
    width: 500px;
    height: 300px;
}



#foto:hover { 
    filter: blur(0px);
    width: 500px;
    height: 300px;
}




.girl3 { 
    translate: 30em -30em;
}



.button3 { 
    width: 300px;
    height: 50px;
    padding-top: 5em;
    border-radius: 2em;
    align-items: center;
    background-color: #ffffff;
    border-style: none;
}



/* 4e pagina */


.bB { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #110075;
}



.con { 
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    align-items: center;
    gap: 5em;
    position: relative;
   
}



span> h1 {
    font-size: 3em;

}



#choice:hover span { 
    display: none;
    padding-bottom: 6em;
    margin-bottom: -2em;
}



#choice:hover:before { 
    content: "Is it...?";
    font-size: 6em;
    margin-bottom: -2em;
    padding-bottom: 6em;
    color: crimson;
}



#girl4 { 
    translate: 30em -30em;
    margin-bottom: -40em;
}



button { 
    width: 250px;
    height: 50px;
    border-radius: 2em;
    align-items: center;
    background-color: #ffffff;
    border-style: none;
}



#popup:popover-open { 
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;
}

#popupA:popover-open {
   background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;
}

#popupB:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1;
}

#popupC:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#popupD:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#popupE:popover-open{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;  
}

#popupF:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#popupG:popover-open{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;  
}

#popupH:popover-open{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;  
}

#popupI:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#popupJ:popover-open{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;  
}

#popupK:popover-open{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 2.5em;
    z-index: -1;  
}

#popupL:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#popupZ:popover-open{
    background-color: transparent;
    border-color: transparent; 
    position: absolute;
    top: 2.5em;
    z-index: -1; 
}

#Close {
    background-color: transparent;
    border-color: transparent;
    width: 100px;
    height: 20px;
    border-radius: 2em;
    background-color: #ffc100;  
}



.button4 { 
    padding-bottom: 10em;
}


.button4:hover > a{
    color:#BFFFFC;
}




#kat > a { 
    align-items: center;
    font-size: 2em;
    color: #fff;
    border: none;

}


#kat:hover > a { 
    color:hsl(0, 100%, 50%)
}



/* 5e pagina */


.cA { 
    font-size: 6em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



body:has(.cA){
    background-color: #000;
}


.cA>h1 { 
    color:red;
}


.terug { 
    border: none;
}



/* 6e pagina */


body:has(.alles){ 
    background-color: #ffc100;
}


.alles { 
    border: solid;
    border-color: #fff;
    background-color: #110075;
    width: 600px;
    height: 400px;
    translate: 20em 2em; 
}



.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
}

.score section {
    width: 500px;
}



.button5 { 
  translate: 3em 22em; 
}

.button5:hover > a { 
    color:#BFFFFC
}
